<!DOCTYPE html>
<html>
    <head>
        <title>Jobs you've held</title>
    </head>
    <body>
        <h1>You added a new job!</h1>
        <p>{{ newjob.getTitle }}</p>
        <p>{{ newjob.getTime }}</p>
        <p>{{ newjob.getDuties }}</p>
        <p><a href='/'>View your list of jobs you've held</a></p>
    </body>
</html>
